Pandas Project - Global Shark Attacks

In [58]:
import pandas as pd
import numpy as np
import re
from datetime import datetime
from datetime import date

In [59]:
#df = pd.read_csv("attacks.csv") #open CVS, first try had an encode problem
df = pd.read_csv("attacks.csv", encoding='latin-1')

df.head() #to start exploring the df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [60]:
df.info() #to check the types of data of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [61]:
df['Unnamed: 22'].unique() #comfirming unique values

array([nan, 'stopped here'], dtype=object)

In [62]:
# Changing Nan values to Unknown
df[['Unnamed: 22']]= df[['Unnamed: 22']].fillna('Unknown')

In [63]:
# Changing Nan values to Unknown
df[['Unnamed: 23']]= df[['Unnamed: 23']].fillna('Unknown')

In [64]:
#df['Case Number'].isna() #exploring Nan values

In [65]:
df.tail() #exploring Nan values

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,Unknown

In [66]:
df1=df.copy() #Security copy: por aquello de no te enfries

In [67]:
df.drop(df.index[6302:25723], inplace = True) #To delete Unnecesary rows with no data.
#df.dropna(thresh=10) other method to drop rows

In [68]:
df['Case Number'].unique() #identifiying elements to clean

array(['2018.06.25', '2018.06.18', '2018.06.09', ..., 'ND.0003',
       'ND.0002', 'ND.0001'], dtype=object)

In [69]:
#df.loc[(df['Case Number'] == 'ND.0001'),'Case Number']='Unknow date' #renaming values

In [70]:
#df[‘Case Number’].str.startswith(‘ND’)=‘Unknow date’
#df['Case Number'].apply(lambda x: re.sub('ND\w+', 'Unknow date', x))

In [71]:
#df['Case Number'] = df['Case Number'].astype(str)

In [72]:
#df['Case Number'].apply(lambda x: re.sub('ND\w+', 'Unknow date', x))

In [73]:
#df['Case Number'].str.startswith('ND')='Unknow date'

In [74]:
#df.replace({'Case Number': r'^ND.$'}, {'Case Number': 'Unkown'}, regex=True, inplace=True)

In [75]:
#df['Case Number'].unique()

In [76]:
df[['Year']]= df[['Year']].fillna('Unknown') #Changing NA values
df[['Type']]= df[['Type']].fillna('Unknown reason') #Changing NA values
df[['Country']]= df[['Country']].fillna('Unknown area') #Changing NA values

In [77]:
null_cols = df.isnull().sum() #checking for other null and related values 
null_cols[null_cols>0]

Case Number                  1
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
dtype: int64

In [78]:
null_displ = df[(df['Location'].isnull()==True)] #checking null values related with Location
null_displ = null_displ[['Location', 'Activity', 'Name', 'Age', 'Injury', 'Fatal (Y/N)', 'Time', 'Investigator or Source', 'href formula']]
#null_displ

In [79]:
df[['Location']] = df[['Location']].fillna("Unknow Location") #changing null values

In [80]:
df[['Time']] = df[['Time']].fillna("Unknow Time") #changing null values

In [81]:
df[['Age']] = df[['Age']].fillna("Age") #changing null values

In [82]:
null_cols = df.isnull().sum() #checking for other null and related values 
null_cols[null_cols>0]

Case Number                  1
Area                       455
Activity                   544
Name                       210
Sex                        565
Injury                      28
Fatal (Y/N)                539
Species                   2838
Investigator or Source      17
href formula                 1
dtype: int64

In [83]:
null_displ = df[(df['Area'].isnull()==True)] #checking null values related with Location
null_displ = null_displ[['Activity', 'Name','Injury', 'Fatal (Y/N)', 'Investigator or Source', 'href formula']]
#null_displ

In [84]:
df[['Activity', 'Name', 'Investigator or Source', 'href formula']] = df[['Activity', 'Name', 'Investigator or Source', 'href formula']].fillna("Not specified") #changing null values in multiple columns

In [85]:
df[['Area', 'Injury']] = df[['Area', 'Injury']].fillna("Not specified") #changing null values in multiple columns

In [86]:
df[['Fatal (Y/N)']] = df[['Fatal (Y/N)']].fillna("Unknow") #changing null values

In [87]:
null_cols = df.isnull().sum() #checking for other null and related values 
null_cols[null_cols>0]

Case Number       1
Sex             565
Species        2838
dtype: int64

In [88]:
df.columns = df.columns.to_series().apply(lambda x: x.strip()) #fixing the columns names

In [89]:
df[['Sex', 'Species']] = df[['Sex', 'Species']].fillna("Not specified") #changing null values in multiple columns

In [90]:
df["Year"].replace({0: "Time Frame"}, inplace=True) #changing the column year 0 to specify a time frame

In [91]:
pd.set_option('display.max_columns', None) #to show all the columns 
pd.set_option("display.max_rows", None)

In [92]:
df['Date'].unique()

array(['25-Jun-2018', '18-Jun-2018', '09-Jun-2018', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

In [93]:
#Replacing very specific dates
df["Date"].replace({'Last incident of 1994 in Hong Kong': 1994}, inplace=True)
df["Date"].replace({'1954 (same day as 1954.00.00.f)': 1954}, inplace=True)
df["Date"].replace({'Mar-1949 or Apr-1949': 'Between Mar & Apr'}, inplace=True)
df["Date"].replace({'Some time between 08-Jan-1928 & 21-Jan-1928': 'Between 08-Jan & 21-Jan'}, inplace=True)
df["Date"].replace({'1899 During the Seige of Ladysmith': '1899'}, inplace=True)

In [94]:
df['Date']=df['Date'].str.replace('Reported ', '')
df['Date']=df['Date'].str.replace('Ca. ', '')
df['Date']=df['Date'].str.replace('.b', '')
df['Date']=df['Date'].str.replace('.a', '')
df['Date']=df['Date'].str.replace(' to have happened "on the weekend"', '')
df['Date']=df['Date'].str.replace('Reported', '')
df['Date']=df['Date'].str.replace(' (same day as 1954.00.00.f)', '')
df['Date']=df['Date'].str.replace('\n1951.12.15.R', '15-Dec-1951')
df['Date']=df['Date'].str.replace('"Bitten last weekend', '')
df['Date']=df['Date'].str.replace('"Some time b', 'B')
df['Date']=df['Date'].str.replace('Woirld War II', '1939')
df['Date']=df['Date'].str.replace('to have taken place in ', '1919')
df['Date']=df['Date'].str.replace('Reportd ', '')
df['Date']=df['Date'].str.replace('(probably happened Ca. 1843/1844)', '')
df['Date']=df['Date'].str.replace('Reprted ', '')
#df['Date']=df['Date'].str.replace(' (?)', '') #somehow didn't work
df['Date']=df['Date'].str.replace('"Anniversary Day" 22-Jan-1850 or 1852', '22-Jan-1852')
df['Date']=df['Date'].str.replace('.R', '')
#df['Date']=df['Date'].str.replace('.00.', '') #deletes somes years between 1000 and 2000
df['Date']=df['Date'].str.replace('24-Oct-1888,ut took pceround 1868', '24-Oct-1868')
df['Date']=df['Date'].str.replace('(prly ppened 1843/1844)', '')
df['Date']=df['Date'].str.replace('(soonfter the close of the Snish-Amerin r)', '')
df['Date']=df['Date'].str.replace('to ve ken pce in ', '')
df['Date']=df['Date'].str.replace('Some timeetween ', 'Between')
df['Date']=df['Date'].str.replace('(me ys 195400.f)', '')

In [95]:
df.loc[187,'Year']=2017 #changing specific dates in Year
df.loc[6079,'Year']=1836

In [96]:
df['Type']=df['Type'].str.replace('Invalid', 'Unknown') #fixing ambiguous values
df['Type']=df['Type'].str.replace('Questionable', 'Unknown')
df['Country']=df['Country'].str.replace('MEXICO ', 'MEXICO')
df['Country']=df['Country'].str.replace('OKINAWA', 'JAPAN')
df['Country']=df['Country'].str.replace('Usa', 'USA')
df['Country']=df['Country'].str.replace('Sudan?', 'Sudan')
df['Country']=df['Country'].str.replace('United Arab Emirates (Uae)', 'United Arab Emirates (UAE)')
df["Country"]= df["Country"].str.upper().str.title() #fixing country names as titles

In [97]:
df.rename(columns={'Country': 'Region'}, inplace=True) 
#changing the name of the column to reflect a region and not only countries

In [98]:
#fixing all uncodified area names 
df['Area']=df['Area'].str.replace('M�laga ', 'Malaga')
df['Area']=df['Area'].str.replace('C�te', 'Cote')
df['Area']=df['Area'].str.replace('Kh�nh H�a', 'Khanh Hoa province')
df['Area']=df['Area'].str.replace('Sal�', 'Sale')
df['Area']=df['Area'].str.replace('C�diz', 'Cadiz')
df['Area']=df['Area'].str.replace('Andr�s', 'Andres')
df['Area']=df['Area'].str.replace('Castell�n', 'Castellon')
df['Area']=df['Area'].str.replace('Cort�s', 'Cortes')
df['Area']=df['Area'].str.replace('Balne�rio Cambori�', 'Balnerio Camboriu')
df['Area']=df['Area'].str.replace('35�39 : 165�8', 'Unknown')
df['Area']=df['Area'].str.replace('Col�n', 'Colon')
df['Area']=df['Area'].str.replace('Maranh�o', 'Maranhao')
df['Area']=df['Area'].str.replace('10�S, 142�E', 'Unknown')
df['Area']=df['Area'].str.replace('Vava�u', 'Vavau')
df['Area']=df['Area'].str.replace('d��', 'D ')
df['Area']=df['Area'].str.replace('Conservat�ria', 'Conservatoria')
df['Area']=df['Area'].str.replace('Saint-Beno�t', 'Saint-Benoit')
df['Area']=df['Area'].str.replace('Saman�', 'Saman')
df['Area']=df['Area'].str.replace('Ma�shur', 'Ma\'shur')
df['Area']=df['Area'].str.replace('Lim�n', 'Limon')
df['Area']=df['Area'].str.replace('22�N, 88�E', 'Unknown')

In [99]:
#fixing location names 
df['Location']=df['Location'].str.replace('Mar�', 'Mar')
df['Location']=df['Location'].str.replace('Caba�a ', 'Cabana')
df['Location']=df['Location'].str.replace('Coff�s Harbor', 'Coffs Harbor')
df['Location']=df['Location'].str.replace('Jeffrey�s', 'Jeffrey\'s')
df['Location']=df['Location'].str.replace('�Southern Wharf�', 'Southern Wharf')
df['Location']=df['Location'].str.replace('Mark�s', 'Mark\'s')
df['Location']=df['Location'].str.replace('St. Thom�', 'St. Thomas')
df['Location']=df['Location'].str.replace('Gordon�s Bay', 'Gordon\'s Bay')
df['Location']=df['Location'].str.replace('Ouv�a', 'Ouv\'a')
df['Location']=df['Location'].str.replace('36�17\'N\,  126�31\'E', 'Unknown')
df['Location']=df['Location'].str.replace('George�s', 'George\'s')
df['Location']=df['Location'].str.replace('Ca�o', 'Ca\'s')
df['Location']=df['Location'].str.replace('C�diz', 'Cadiz')
df['Location']=df['Location'].str.replace('Poindimi�', 'Poindimie')
df['Location']=df['Location'].str.replace('Trench�s', 'Trench\'s')
df['Location']=df['Location'].str.replace('Fisherman�s', 'Fisherman\'s')
df['Location']=df['Location'].str.replace('Dumb�a', 'Dumb a')
df['Location']=df['Location'].str.replace('Anstey�s', 'Anstey\'s')
df['Location']=df['Location'].str.replace('Scott�s', 'Scott\'s')
df['Location']=df['Location'].str.replace('S�nchez', 'Sanchez')
df['Location']=df['Location'].str.replace('C�rdenas', 'Cardenas')
df['Location']=df['Location'].str.replace('Shaka�s', 'Shaka\'s')
df['Location']=df['Location'].str.replace('Shipwreck�s', 'Shipwreck\'s')
df['Location']=df['Location'].str.replace('S�o', 'S\'o')
df['Location']=df['Location'].str.replace('Monta�a', 'Montana')
df['Location']=df['Location'].str.replace('�gua', 'Agua')
df['Location']=df['Location'].str.replace('Ka�anapali', 'Kaanapali')
df['Location']=df['Location'].str.replace('Sewell�s', 'Sewell\'s')
df['Location']=df['Location'].str.replace('Barand�a', 'Veranda Beach')
df['Location']=df['Location'].str.replace('Nelson�s', 'Nelson\'s')
df['Location']=df['Location'].str.replace('Moku�auia', 'Mokuauia')
df['Location']=df['Location'].str.replace('Maha�ulepu', 'Mahaulepu')
df['Location']=df['Location'].str.replace('Brown�s', 'Brown\'s')
df['Location']=df['Location'].str.replace('�le', 'Le')
df['Location']=df['Location'].str.replace('Campbell�s', 'Campbell\'s')
df['Location']=df['Location'].str.replace('Ah� Atoll', 'Ah Atoll')
df['Location']=df['Location'].str.replace('d�Empuries', 'd\'Empuries')
df['Location']=df['Location'].str.replace('L�Escala', 'L\'Escala')
df['Location']=df['Location'].str.replace('Boca de la Le�a', 'Boca de la Le\'a')
df['Location']=df['Location'].str.replace('Uni�n', 'Union')
df['Location']=df['Location'].str.replace('V?ng T�u', 'Unknown')
df['Location']=df['Location'].str.replace('G�ldar', 'G ldar')
df['Location']=df['Location'].str.replace('Yorkey�s', 'Yorkey\'s')
df['Location']=df['Location'].str.replace('Her�y', 'Herry') 
df['Location']=df['Location'].str.replace('Reef�', 'Reef')
df['Location']=df['Location'].str.replace('Petite-�le', 'Le Petite')
df['Location']=df['Location'].str.replace('Jaboat�o', 'Jaboato')
df['Location']=df['Location'].str.replace('Woodman�s', 'Woodman\'s')
df['Location']=df['Location'].str.replace('22�08\'S  : 178�06\'W', 'Unknown')
df['Location']=df['Location'].str.replace('Black�s', 'Black\'s')
df['Location']=df['Location'].str.replace('Wiseman�s', 'Wiseman\'s')
df['Location']=df['Location'].str.replace('Hadrian�s', 'Hadrian\'s')
df['Location']=df['Location'].str.replace('Kama�ole', 'Kamaole')                                  
df['Location']=df['Location'].str.replace('Tu�anuku', 'Tu\'anuku')
df['Location']=df['Location'].str.replace('Vetch�s', 'Vetch\'s')                                  
df['Location']=df['Location'].str.replace('Pawley�s', 'Pawley\'s')                                  
df['Location']=df['Location'].str.replace('Lambert�s', 'Lambert\'s')                                  
df['Location']=df['Location'].str.replace('Sha�ab', 'Shaab')
df['Location']=df['Location'].str.replace('Smith�s', 'Smith\'s')                                  
df['Location']=df['Location'].str.replace('One week out of P�pete', 'Unknown')                                  
df['Location']=df['Location'].str.replace('Macei�', 'Macei')                                  
df['Location']=df['Location'].str.replace('Ye?ilk�y', 'Unknown')
df['Location']=df['Location'].str.replace('Sj�strand', 'Sj\'strand')                                  
df['Location']=df['Location'].str.replace('Gay�s', 'Gay\'s')                                   
df['Location']=df['Location'].str.replace('King�s', 'King\'s')                                  
df['Location']=df['Location'].str.replace('Pawley�s', 'Pawley\'s')
df['Location']=df['Location'].str.replace('Ile Yand� (between Poum and B�lep)', 'Ile Yand')                                  
df['Location']=df['Location'].str.replace('C�te', 'Cote')                                   
df['Location']=df['Location'].str.replace('Noum�a', 'Nouma')                                  
df['Location']=df['Location'].str.replace('Lev�que', 'Lev\'que')
df['Location']=df['Location'].str.replace('� mile offshore & 9 miles north of Fort Pierce', 'Fort Pierce')                                  
df['Location']=df['Location'].str.replace('Saua�uhy', 'Sauauhy')                                   
df['Location']=df['Location'].str.replace('Saua�uhy', 'Sauauhy')                                  
df['Location']=df['Location'].str.replace('Nu�ulua', 'Nuulua')
df['Location']=df['Location'].str.replace('Mo�?eni?ka', 'Moscenicka')                                  
df['Location']=df['Location'].str.replace('Hy�res', 'Unknown')                                   
df['Location']=df['Location'].str.replace('Florida Keys 25�N,82�W', 'Florida Keys')                                  
df['Location']=df['Location'].str.replace('Col�n', 'Colon')
df['Location']=df['Location'].str.replace('Lind�ralique', 'Linda ralique')                                  
df['Location']=df['Location'].str.replace('Hiengh�ne', 'Unknown')
df['Location']=df['Location'].str.replace('Mazatl�n', 'Mazatlan')
df['Location']=df['Location'].str.replace('Ye?ilk�y', 'Unknown')
df['Location']=df['Location'].str.replace('10 miles west of Walker�s Cay', 'Walker\'s Cay')
df['Location']=df['Location'].str.replace('Mo�?eni?ka', 'Unknown')
df['Location']=df['Location'].str.replace('Bull�s', 'Bull\'s')
df['Location']=df['Location'].str.replace('Quinn�s', 'Quinn\'s')
df['Location']=df['Location'].str.replace('Itamarac�', 'Itamarac')
df['Location']=df['Location'].str.replace('Oah�u', 'Oah\'u')
df['Location']=df['Location'].str.replace('Granny�s', 'Granny\'s')
df['Location']=df['Location'].str.replace('Miller�s', 'Miller\'s')
df['Location']=df['Location'].str.replace('d�en', 'd\'en')
df['Location']=df['Location'].str.replace('In Los Angeles � Honolulu yacht race', 'Los Angeles')                                          
df['Location']=df['Location'].str.replace('Left break at the �Hot Spot� at Sheringa Beach', 'Sheringa Beach')
df['Location']=df['Location'].str.replace('Barber�s', 'Barber\'s')
df['Location']=df['Location'].str.replace('Vall�e', 'Valle')                                          
df['Location']=df['Location'].str.replace('O�ahu', 'O\'ahu')
df['Location']=df['Location'].str.replace('Balne�rio Cambori�', 'Balneario Camboriu')
df['Location']=df['Location'].str.replace('Ilh�us', 'Ilhus')                                          
df['Location']=df['Location'].str.replace('Gor�e', 'Goree')                                          
df['Location']=df['Location'].str.replace('B�zios', 'Bazios')
df['Location']=df['Location'].str.replace('Ka�eleki�I', 'Ka\'eleki\'i')                                          
df['Location']=df['Location'].str.replace('Kidd�s', 'Kidd\'s')                                          
df['Location']=df['Location'].str.replace('Le�n', 'Leon')
df['Location']=df['Location'].str.replace('Grey�s', 'Grey\'s')                                          
df['Location']=df['Location'].str.replace(' 8�N, 79�W', '')                                          
df['Location']=df['Location'].str.replace('Bohusl�n', 'Bohuslan')
df['Location']=df['Location'].str.replace('Bakurk�y', 'Bakurk\'y')                                          
df['Location']=df['Location'].str.replace('�tang', 'tang')                                          
df['Location']=df['Location'].str.replace('Simon�s', 'Simon\'s') 
df['Location']=df['Location'].str.replace('Yand�', 'Yand')   
df['Location']=df['Location'].str.replace('Martin�s', 'Martin\'s')                                          
df['Location']=df['Location'].str.replace('Fuller�s', 'Fuller\'s')                                          
df['Location']=df['Location'].str.replace('College�s', 'College\'s')                                          
df['Location']=df['Location'].str.replace('cimeti�re', 'cimetire')                                          
df['Location']=df['Location'].str.replace('K�rkira', 'K\'rkira')                                          
df['Location']=df['Location'].str.replace('la�Marine', 'la Marine')

In [100]:
#Fixing Activity names
df['Activity']=df['Activity'].str.replace('38�', '38')
df['Activity']=df['Activity'].str.replace('Agust�n', 'Aguston')
df['Activity']=df['Activity'].str.replace('netter�s', 'netter\'s')
df['Activity']=df['Activity'].str.replace('Ide�s', 'Ide\'s')
df['Activity']=df['Activity'].str.replace('shark�s', 'shark\'s')
df['Activity']=df['Activity'].str.replace('restaurant�s', 'restaurant\'s')
df['Activity']=df['Activity'].str.replace('Onda�s', 'Onda\'s')
df['Activity']=df['Activity'].str.replace('p�cheur', 'p\'cheur')
df['Activity']=df['Activity'].str.replace('�shark-back riding�', 'shark-back riding')
df['Activity']=df['Activity'].str.replace('�swallowed�', 'swallowed')
df['Activity']=df['Activity'].str.replace('didn�t', 'didn\'t')
df['Activity']=df['Activity'].str.replace('5�', '5"')
df['Activity']=df['Activity'].str.replace(' � ', '')

In [101]:
#Fixing "sex" column with only 3 options
df['Sex']=df['Sex'].str.replace('.', 'Not Specified')
df['Sex']=df['Sex'].str.replace('lli', 'Not Specified')
df['Sex']=df['Sex'].str.replace('M ', 'M')
#df['Sex']=df['Sex'].str.replace('N', 'null')
#df['Sex']=df['Sex'].str.replace('NULLOT SPECIFIED', 'Not Specified')
df.loc[4938,'Sex']='NOT SPECIFIED'
df.loc[6131,'Sex']='NOT SPECIFIED'
df["Sex"]= df["Sex"].str.upper().str.title() 

#df['Sex']=df['Sex'].str.replace('null', 'Not Specified')
#df['Sex']=df['Sex'].str.replace('Not Specifiedot specified', 'Not Specified')

In [102]:
#changing the name of the column to reflect a time frame and not age
#df.rename(columns={'Age': 'Time Frame'}, inplace=True) 
#df.rename(columns={'Time': 'Duplicated TF'}, inplace=True)

In [103]:
#Fixing not related time frame comments
df['Age']=df['Age'].str.replace('� ', 'Unknown')
df['Age']=df['Age'].str.replace('FATAL  (Wire netting installed at local beaches after this incident.)', 'Unknown')

In [104]:
#Fixing injury unnecessary terms and other misspells 
#df['Injury']=df['Injury'].str.replace('FATAL,', '')
#df['Injury']=df['Injury'].str.replace('FATAL', '')
df['Injury']=df['Injury'].str.replace(' PROVOKED INCIDENT', '')
df['Injury']=df['Injury'].str.replace('PROVOKED ACCIDENT', '')
df['Injury']=df['Injury'].str.replace('Barber�s', 'Barber\'s')
df['Injury']=df['Injury'].str.replace('�forequarter amputation�', 'forequarter amputation')
df['Injury']=df['Injury'].str.replace('�shoal', 'shoal')
df['Injury']=df['Injury'].str.replace('PROVOKED INCIDENT        ', '')
df['Injury']=df['Injury'].str.replace('Uhlbrecht�s', 'Uhlbrecht\'s')
df['Injury']=df['Injury'].str.replace('�Put hand through hatch, shark nearly bit off thumb�', 'Put hand through hatch, shark nearly bit off thumb')
df['Injury']=df['Injury'].str.replace('�huge shark�', 'huge shark')
df['Injury']=df['Injury'].str.replace('Baker�s', 'Baker\'s')
df['Injury']=df['Injury'].str.replace('boat�s', 'boat\'s')
df['Injury']=df['Injury'].str.replace('�deep hole�', 'deep hole')
df['Injury']=df['Injury'].str.replace('�presumed taken by a shark�', 'presumed taken by a shark')
df['Injury']=df['Injury'].str.replace('Lev�que', 'Levque')
df['Injury']=df['Injury'].str.replace('tubar�o', 'tubaro')
df['Injury']=df['Injury'].str.replace('Shark�s', 'Shark\'s')
df['Injury']=df['Injury'].str.replace('PROVOKED INCIDENT', '')
df['Injury']=df['Injury'].str.replace('man�s', 'man\'s')
df['Injury']=df['Injury'].str.replace('�gummy�', 'gummy')
df['Injury']=df['Injury'].str.replace('Sharks�s', 'Shark\'s')
df['Injury']=df['Injury'].str.replace('Jeppsen�s', 'Jeppsen\'s')
df['Injury']=df['Injury'].str.replace('diver�s', 'diver\'s')

In [105]:
#Fixing Fatal options to only 2
df["Fatal (Y/N)"]=df["Fatal (Y/N)"].str.upper()
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('M', 'N')
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('2017', 'N')
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('UNKNOWN', 'N')
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('UNKNOW', 'N')
df["Fatal (Y/N)"]=df["Fatal (Y/N)"].str.upper()
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace('N ', 'N')
df['Fatal (Y/N)']=df['Fatal (Y/N)'].str.replace(' N', 'N')

In [106]:
#function to clean species v1.0
'''def clean_species(entry):
    if isinstance(entry, float) or (len(entry.split(" ")) == 1):
        return "Not identified"
    else:
        species = entry.split(' ')
        s = " ".join([species[i] for i in range(len(species)-1) if species[i+1] == 'shark' or species[i+1] == 'shark,'])
        if len(s) < 3:
            return "Not identified"
        else:
            return s'''

'def clean_species(entry):\n    if isinstance(entry, float) or (len(entry.split(" ")) == 1):\n        return "Not identified"\n    else:\n        species = entry.split(\' \')\n        s = " ".join([species[i] for i in range(len(species)-1) if species[i+1] == \'shark\' or species[i+1] == \'shark,\'])\n        if len(s) < 3:\n            return "Not identified"\n        else:\n            return s'

In [107]:
# clenaing function
def clean_species(entry):
    if isinstance(entry, float) or (len(entry.split(" ")) == 1):
        return "Not identified"
    else:
        species = entry.split(' ')
        s = " ".join([species[i] for i in range(len(species)-1) if species[i+1] == 'shark' or species[i+1] == 'shark,'])
        if len(s) < 3:
            return "Not identified"
        elif ord(s[0].lower()) not in range(ord('a'), ord('z')):
            return "Not identified"
        else:
            return s

In [108]:
#Cleaning species column
df['Species']=df['Species'].apply(clean_species)

In [109]:
#fixing name syntax
df["Name"]= df["Name"].str.upper().str.title()

In [110]:
#fixing column name
df.rename(columns={'Case Number.2': 'Case Month'}, inplace=True)

In [111]:
#fixing case month to show the month of the incidents
df['Case Month'] = pd.to_datetime(df.Date, errors='coerce')
df['Case Month'] = pd.DatetimeIndex(df['Case Month']).month
df['Case Month']=df['Case Month'].replace('NaN', 'Unknown')
df[['Case Month']]= df[['Case Month']].fillna('Unknown')

/usr/local/lib/python3.7/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname D identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [112]:
df['Time']=df['Time'].str.replace('h', ':')
#df['Time'] = df['Time'].astype(int)
df['Time']=df['Time'].replace(to_replace ='\D', value = '', regex = True) 
df[['Time']]= df[['Time']].fillna('Unknown')
#df['Time']=df['Time'][df['Time'].str.len() <5]

In [138]:
#list(df['Case Number.1'].unique())

In [139]:
#df.filter(["href formula", "Yona, repetida"])

In [135]:
df.rename(columns={'href': 'Yona, repetida'}, inplace=True)