# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [66]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [67]:
# Your code here:

salaries.head(50)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
11,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
12,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
13,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,F,Salary,NaN,102228.0,NaN
14,"ABDELMAJEID, AZIZ",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
15,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,F,Salary,NaN,91272.0,NaN
16,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,F,Salary,NaN,111492.0,NaN
17,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,95484.0,NaN
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
19,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.10
20,"ABDULSATTAR, MUDHAR",CIVIL ENGINEER II,WATER MGMNT,F,Salary,NaN,65448.0,NaN
21,"ABDUL-SHAKUR, TAHIR",GENERAL LABORER - DSS,STREETS & SAN,F,Hourly,40.0,NaN,21.43
22,"ABEJERO, JASON V",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
23,"ABERCROMBIE IV, EARL S",PARAMEDIC I/C,FIRE,F,Salary,NaN,82614.0,NaN
24,"ABERCROMBIE, TIMOTHY",MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
25,"ABFALL, RICHARD C",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
26,"ABIOYE, ADEWOLE A",LIBRARY ASSOCIATE - HOURLY,PUBLIC LIBRARY,P,Hourly,20.0,NaN,25.10
27,"ABNEY, PATRICK",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
28,"ABOUASSI, CHADI",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
29,"ABOUELKHEIR, HASSAN A",SENIOR PROGRAMMER/ANALYST,FAMILY & SUPPORT,F,Salary,NaN,110064.0,NaN
30,"ABRAHAM, GIRLEY T",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
31,"ABRAHAM, KELVIN",ENGINEERING TECHNICIAN V,TRANSPORTN,F,Salary,NaN,55644.0,NaN
32,"ABRAHAM, NANCY A",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
33,"ABRAHAMSON, MICHAEL C",STUDENT INTERN - MAYOR'S FELLOWS,MAYOR'S OFFICE,F,Hourly,35.0,NaN,20.00
34,"ABRAM, ANTHONY A",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
35,"ABRAMAVICIUS, ANNA A",SUPERINTENDENT OF SPECIAL TRAFFIC SERVICES,OEMC,F,Salary,NaN,65820.0,NaN
36,"ABRAMS, DANIELLE T",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
37,"ABRAMSKI, JOHN E",AMBULANCE COMMANDER,FIRE,F,Salary,NaN,128970.0,NaN
38,"ABRAMSON, NICHOLAS",POLICE OFFICER,POLICE,F,Salary,NaN,68616.0,NaN
39,"ABRAMS, SAMUEL A",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
40,"ABRAMS, TIFFANY",OPERATING ENGINEER-GROUP C,WATER MGMNT,F,Hourly,40.0,NaN,45.07
41,"ABRATANSKI, MARK A",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,89148.0,NaN
42,"ABREU, DILAN",SEWER BRICKLAYER,WATER MGMNT,F,Hourly,40.0,NaN,44.88
43,"ABREU, ROBERTO J",TRAFFIC SIGNAL REPAIRMAN,TRANSPORTN,F,Salary,NaN,101712.0,NaN
44,"ABREU, ROSITA",PERSONAL COMPUTER OPERATOR III,HEALTH,F,Salary,NaN,70092.0,NaN
45,"ABREU, VICTOR",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,99324.0,NaN
46,"ABRON, FLOYD",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
47,"ABRON, KIMYENNA D",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
48,"ABRONS, KENNETH L",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
49,"ABUBAKER, MOHAMMED G",SENIOR ENVIRONMENTAL INSPECTOR,HEALTH,F,Salary,NaN,84420.0,NaN

In [68]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [69]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [70]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [71]:
# Your code here:
departments = salaries.groupby('Department')['Name'].count()
departments.head()

Department
ADMIN HEARNG           39
ANIMAL CONTRL          81
AVIATION             1629
BOARD OF ELECTION     107
BOARD OF ETHICS         8
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [117]:
# Your code here:
from scipy.stats import ttest_1samp
from scipy.stats import t
n=8022
h0=30
h1=!30
a = 0.05
sampData = salaries[salaries['Hourly Rate'].notnull()]['Hourly Rate']

test, pval = ttest_1samp(sampData,30)

In [118]:
if pval < (a/2):
    print ('The Null Hypotesis is rejected')
else:
    print ('The Null Hypotesis is accepted')

The Null Hypotesis is rejected

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [121]:
# Your code here:
a = 0.05
sampData = salaries[(salaries['Annual Salary'].notnull())& (salaries['Department'] == 'POLICE')]['Annual Salary']

test, pval = ttest_1samp(sampData,86000)

In [122]:
if pval < (a/2):
    print ('The Null Hypotesis is rejected')
else:
    print ('The Null Hypotesis is accepted')

The Null Hypotesis is rejected

Using the `crosstab` function, find the department that has the most hourly workers.

In [92]:
# Your code here:
#The idxmax() function is used to get the row label of the maximum value. Crosstab convertem in indexes
cross = pd.crosstab(salaries['Department'],salaries['Salary or Hourly'])['Hourly'].idxmax()
cross

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [127]:
# Your code here:
a = 0.05
#sampData = salaries[salaries['Department']== 'cross']['Hourly Rate']
#test, pval = ttest_1samp(sampData,35)

b = salaries[(salaries['Department'] == 'STREETS & SAN')& (salaries['Hourly Rate'].notnull())]['Hourly Rate']
test, pval = ttest_1samp(b,35)

In [128]:
if pval < (a/2):
    print ('The Null Hypotesis is rejected')
else:
    print ('The Null Hypotesis is accepted')

The Null Hypotesis is rejected

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [145]:
# Your code here:
from scipy.stats import t, sem
sar = salaries[salaries['Hourly Rate'].notnull()]['Hourly Rate']

In [147]:
meanh = 32.788558
n = 8022
dof=(n-1)
stderr=sem(sar)
t.interval(.95,dof,meanh,stderr)

(32.52345862860401, 33.05365737139599)

In [140]:
sal= salaries[salaries['Salary or Hourly'] == 'Hourly']
sal['Department'].count()

8022

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [175]:
# Your code here:
sar2 = salaries[(salaries['Annual Salary'].notnull()) & (salaries['Department'] == 'POLICE')]
salary_sar2 = sar2['Annual Salary']
salary_sar2
#sar2.mean()
#sar2.count()

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13404, dtype: float64

In [177]:
meanh_s= 86486.414503
n = 25161
dof1=13403
stderr=sem(salary_sar2)
t.interval(.95,dof1,meanh_s,stderr)
#'The Null Hypotesis is rejected'

The Null Hypotesis is rejected

In [ ]:

    print ('The Null Hypotesis is rejected')

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [183]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

In [186]:
hourly_workers = salaries[salaries['Salary or Hourly']=='Horly'].shape[0]

In [189]:
stat, pval = proportions_ztest(hourly_workers, salaries.shape[0], 0.25)

In [192]:
if pval < (a/2):
    print ('The Null Hypotesis is rejected')
else:
    print ('The Null Hypotesis is accepted')

The Null Hypotesis is rejected

In [ ]:
#Ho: P <0.05 : Ho True si hay correlación De 4 trabajadores 1 es por hora. Hipotesis nula, no hay correlacion