## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [79]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [80]:
# Your code here
sample_list_1 = random.sample(range(0,101),80)
print(sample_list_1)

[8, 51, 76, 22, 19, 50, 5, 66, 10, 15, 12, 86, 92, 83, 47, 75, 46, 7, 39, 56, 11, 14, 85, 55, 38, 25, 16, 71, 90, 97, 35, 13, 36, 93, 54, 45, 84, 53, 87, 57, 4, 3, 20, 98, 27, 59, 6, 28, 82, 72, 64, 42, 67, 37, 43, 60, 21, 77, 70, 29, 100, 18, 9, 69, 68, 89, 41, 63, 80, 49, 40, 65, 88, 74, 17, 32, 23, 58, 52, 33]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [81]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
#Yes, still 80 because when we generated the original list was produced with 80 unique values

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [82]:
# Your code here
sample_list_2 = []
for i in range(0,80):
    n = random.randint(0,100)
    sample_list_2.append(n)
print(sample_list_2)

[66, 19, 16, 2, 22, 98, 81, 84, 67, 61, 50, 67, 69, 13, 54, 52, 50, 72, 56, 14, 0, 31, 48, 80, 20, 44, 100, 76, 26, 93, 32, 76, 49, 82, 32, 9, 92, 32, 77, 49, 35, 59, 41, 62, 94, 2, 50, 45, 56, 92, 48, 91, 21, 51, 59, 26, 79, 22, 93, 18, 57, 16, 21, 66, 35, 87, 7, 17, 64, 53, 63, 74, 87, 59, 62, 88, 54, 27, 57, 14]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [83]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
#No, because we didn't generate unique values and set only return unique values removing 
#repeated values

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [84]:
# Your code here
set3 = set1 - set2
print(set3)

{3, 4, 5, 6, 8, 10, 11, 12, 15, 23, 25, 28, 29, 33, 36, 37, 38, 39, 40, 42, 43, 46, 47, 55, 58, 60, 65, 68, 70, 71, 75, 83, 85, 86, 89, 90, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [85]:
# Your code here
set4 = set2 - set1
print(set4)

{0, 2, 44, 79, 48, 81, 94, 26, 91, 61, 62, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [86]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{7, 9, 13, 14, 16, 17, 18, 19, 20, 21, 22, 27, 32, 35, 41, 45, 49, 50, 51, 52, 53, 54, 56, 57, 59, 63, 64, 66, 67, 69, 72, 74, 76, 77, 80, 82, 84, 87, 88, 92, 93, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [87]:
# Your code here

#### Create an empty set called `set6`.

In [88]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [89]:
# Your code here
set6.update(set3,set5)
print(set6)

{3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 25, 27, 28, 29, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 92, 93, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [90]:
# Your code here
if set1 == set6:
    print("Both sets are are equal")
else:
    print("The sets are not equal")
#They are equal

Both sets are are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [91]:
# Your code here
check1 = set2.issubset(set1)
check2 = set3.issubset(set1)
print(check1)
print(check2)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [92]:
# Your code here
unions3s4s5 = set3.union(set4,set5)
print(len(unions3s4s5))
unions1s2 = set1.union(set2)
print(len(unions1s2))
# The aggregated values are equal

92
92

#### Using the `pop` method, remove the first element from `set1`.

In [93]:
# Your code here
#unless the set is not converted into a list is not possible to use the pop method because:
#it removes the last element

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [98]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for e in list_to_remove:
    if e in set1:
        set1.remove(e)
    else:
        pass
print(set1)

{3, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 25, 27, 28, 32, 33, 35, 36, 37, 38, 40, 42, 43, 45, 46, 47, 50, 52, 53, 54, 55, 56, 57, 58, 60, 63, 64, 65, 66, 67, 68, 70, 72, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 97, 98, 100}