In [50]:
import os
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import chardet

In [237]:
#df = pd.read_csv('transactions_NT_2019.csv', encoding = "cp1252")
#df = pd.read_csv('transactions_NT_2019.csv', index_col=0)
#df = pd.read_csv('transactions_NT_2019.csv', engine='c')
#data = pd.read_csv('transactions-2019-01-01-2020-01-01.csv', encoding = "utf-16")
#data = pd.read_csv('transactions-2019-01-01-2020-01-01.csv',encoding='utf-8-sig')

#with open('transactions_NT_2019.csv', 'rb') as f:
#    result = chardet.detect(f.read())  # or readline if the file is large
#data = pd.read_csv('transactions_NT_2019.csv', encoding=result['encoding'])
#df = pd.read_csv('tcopyexcel.csv', encoding='utf-8') #for excel file
df= pd.read_csv('transactions2019.csv', low_memory = "false")    #for google spreedshet

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (17,18,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [238]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48742 entries, 0 to 48741
Data columns (total 45 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   48742 non-null  object
 1   Time                   48742 non-null  object
 2   Time Zone              48742 non-null  object
 3   Gross Sales            48742 non-null  object
 4   Discounts              48742 non-null  object
 5   Net Sales              48742 non-null  object
 6   Gift Card Sales        48742 non-null  object
 7   Tax                    48742 non-null  object
 8   Tip                    48742 non-null  object
 9   Partial Refunds        48742 non-null  object
 10  Total Collected        48742 non-null  object
 11  Source                 48742 non-null  object
 12  Card                   48742 non-null  object
 13  Card Entry Methods     2510 non-null   object
 14  Cash                   48742 non-null  object
 15  Square Gift Card       48742 non-null  object
 16  Other Tender           48742 non-null  object
 17  Other Tender Type      939 non-null    object
 18  Other Tender Note      424 non-null    object
 19  Fees                   48742 non-null  object
 20  Net Total              48742 non-null  object
 21  Transaction ID         48742 non-null  object
 22  Payment ID             48742 non-null  object
 23  Card Brand             2510 non-null   object
 24  PAN Suffix             2510 non-null   float64
 25  Device Name            48742 non-null  object
 26  Staff Name             0 non-null      float64
 27  Staff ID               0 non-null      float64
 28  Details                48742 non-null  object
 29  Description            48739 non-null  object
 30  Event Type             48742 non-null  object
 31  Location               48742 non-null  object
 32  Dining Option          48411 non-null  object
 33  Customer ID            479 non-null    object
 34  Customer Name          472 non-null    object
 35  Customer Reference ID  2 non-null      object
 36  Device Nickname        48742 non-null  object
 37  Deposit ID             2510 non-null   object
 38  Deposit Date           2510 non-null   object
 39  Deposit Details        2510 non-null   object
 40  Fee Percentage Rate    2510 non-null   float64
 41  Fee Fixed Rate         2510 non-null   object
 42  Refund Reason          331 non-null    object
 43  E-money                48742 non-null  object
 44  Discount Name          1320 non-null   object
dtypes: float64(4), object(41)
memory usage: 16.7+ MB

In [239]:
#To clean the data 
def clean_data(df):
    df = df.copy()
    df = df.fillna('Unknown')
    df = df[['Date', 'Gross Sales', 'Discounts', 'Net Sales', 'Tax', 
             'Total Collected', 'Cash', 'Card', 'Other Tender']]
    df = df.rename(columns = {"Date": "date","Other Tender": "PayPay" })
    #df[df.columns[2:9]] = df[df.columns[2:9]].str.replace('¥', '').str.replace(',', '').astype(int)
    df['Gross Sales'] = df['Gross Sales'].str.replace('¥', '').str.replace(',', '').astype(int)
    df['Discounts'] = df['Discounts'].str.replace('¥', '').str.replace(',', '').astype(int)
    df['Net Sales'] = df['Net Sales'].str.replace('¥', '').str.replace(',', '').astype(int)
    df['Tax'] = df['Tax'].str.replace('¥', '').str.replace(',', '').astype(int)
    df['Total Collected'] = df['Total Collected'].str.replace('¥', '').str.replace(',', '').astype(int)
    df['Cash'] = df['Cash'].str.replace('¥', '').str.replace(',', '').astype(int)
    df['Card'] = df['Card'].str.replace('¥', '').str.replace(',', '').astype(int)
    df['PayPay'] = df['PayPay'].str.replace('¥', '').str.replace(',', '').astype(int)
    df["date"]= pd.to_datetime(df["date"]) 
    df = df.sort_values(by="date")
    df = df.reset_index(drop=True)

    return df

In [240]:
cleaned_df = clean_data(df)

In [247]:
cleaned_df.tail()

,date,Gross Sales,Discounts,Net Sales,Tax,Total Collected,Cash,Card,PayPay
48737,2019-12-30,446,0,446,35,481,481,0,0
48738,2019-12-30,2300,0,2300,184,2484,2484,0,0
48739,2019-12-30,1086,0,1086,86,1172,1172,0,0
48740,2019-12-30,491,-49,442,35,477,477,0,0
48741,2019-12-30,308,0,308,24,332,332,0,0

In [243]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48742 entries, 0 to 48741
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             48742 non-null  datetime64[ns]
 1   Gross Sales      48742 non-null  int64
 2   Discounts        48742 non-null  int64
 3   Net Sales        48742 non-null  int64
 4   Tax              48742 non-null  int64
 5   Total Collected  48742 non-null  int64
 6   Cash             48742 non-null  int64
 7   Card             48742 non-null  int64
 8   PayPay           48742 non-null  int64
dtypes: datetime64[ns](1), int64(8)
memory usage: 3.3 MB

In [248]:
cleaned_df['Gross Sales'].max()

169565

In [249]:
cleaned_df.to_csv('clean_set.csv')